*{margin:0; padding:0; box-sizing:border-box;}
#wrap{width:715px; height:1260px; padding:20px;}
li{list-style:none;}
a{color:#000; text-decoration:none;}

.li_head{width:100%; height:30px; border-bottom:1px solid #e6e6e6; line-height:30px;}
.li_head>strong>span{color:#cf3292;}
.li_head>a{display:inline-block; float:right;}
.li_head>a::before{position:relative; top:-4px; margin-right:5px; content:url(../image/p_arrow.png);}

#notice_box{width:430px; height:165px; margin-bottom:10px; border:1px solid #e6e6e6;}
#notice_box>*, #download_box>*{padding:0 10px;}

#notice_box>ul{width:100%;}
#notice_box>ul>li{width:100%; height:15px; margin:8px 0;}
#notice_box>ul>li>a::before{position:relative; top:-4px; margin-right:5px; content:url(../image/g_arrow.png);}
#notice_box>ul>li>span{float:right;}

#download_box{width:430px; height:280px; border:1px solid #e6e6e6;}

#download_box>ol{width:100%;}
#download_box>ol>li{width:100%; height:15px; margin:8px 0;}
#download_box>ol>li>.rank_ico{display:inline-block; float:left; width:14px; height:12px; margin:5px 5px 0 0; background:#d1d1d1; color:#fff; font-size:9px; text-align:center; line-height: 12px;}
#download_box>ol>.rank>.rank_ico{background:#6e87a5; color:#fff;}
#download_box>ol>.rank>a{color:#6e87a5;}
#download_box>ol>.rank>span{color:#6e87a5; font-weight:bold;}
#download_box>ol>li>span{float:right;}

#faq_box{width:430px; height:auto;}
#faq_box>dl{width:100%; height:100%;}
#faq_box>dl>dt{width:100%; height:40px; line-height:40px;}
#faq_box>dl>dt>h2{display:inline-block;}
#faq_box>dl>dt>span{float:right; cursor:pointer;}
#faq_box>dl>dd{width:100%; height:auto; border-top:1px solid #e6e6e6; font-size:14px;}
#faq_box>dl>dd>strong{display:block; padding:14px; background:#fcfcfc; font-weight:bold; cursor:pointer;}
#faq_box>dl>dd.answer strong{font-weight:normal;}
#faq_box>dl>dd p{display:block;margin:14px;}
#faq_box>dl>dd.answer p{display:none;}

.focus{display:block;}